.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../images/background6.jpg');
  background-size: cover; /* Adjust this property as needed */
  background-position: center; /* Adjust this property as needed */
  min-height: 100vh;
}


.login-form{
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  width: 35vh;
  min-height: 40vh;
  background-color: #e5858270;
}

.login-form > input {
  padding: 10px 40px;
  margin-bottom: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}


.login-form > input::placeholder {
  color: #888; 
  font-style: italic; 
}


.login-form > input:focus {
  outline: none; 
  border-color: #ffe2e1; 
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}

.login-heading{
  padding: 30px;
font-size: 50px;
color: #271b29;
}
/* Existing styles for login button */
.login-button {
  padding: 12px 40px;
  border: 1px solid #000;
  border-radius: 20px;
  background: linear-gradient(45deg, #f30000, #ff5c5c); /* Gradient background */
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

/* Hover effect for login button */
.login-button:hover {
  background: linear-gradient(45deg, #f94343, #ff5c5c); /* Darker gradient on hover */
  transform: scale(1.05); /* Scale up on hover */
}

.login-signup{
  margin-top: 20px;
  font-size: 20px;
  color: #271b29;
}